body{
    font-family: 'Uchen', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 25px;
}
.blue-part{
    color:rgb(32, 112, 216);
}
section{
    display: flex;
}
.hw{
    width: 50%;
    padding: 2%;
}
.hw img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 4, 255), rgb(0, 60, 255), rgba(0, 174, 255, 0.767));
    padding: 6px 24px;
    color: cornsilk;
    font-weight: 700;
    border-radius: 3px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}