body{
    font-family: 'Bona Nova', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 25px;
}
.blue-part{
    color:rgb(32, 112, 216);
}
.golden-part{
    color: rgb(238, 177, 24);
}
.flex-cont{
    display: flex;
    margin-bottom: 120px;
}
.hw{
    width: 50%;
    padding: 2%;
}
.sw{
    width: 50%;
    padding-right: 9%;
}
.hw img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 4, 255), rgb(0, 60, 255), rgba(0, 174, 255, 0.767));
    padding: 6px 24px;
    color: cornsilk;
    font-weight: 700;
    border-radius: 3px;
}
.link-button-ss{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 166, 0), rgba(238, 255, 0, 0.767));
    padding: 6px 24px;
    color: rgb(75, 72, 61);
    font-weight: 700;
    border-radius: 3px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.ncolor{
    color: lightseagreen;
    font-size: 20px;
    font-weight: 700;
}
.fz{
    font-size: 40px;
    font-weight: 700;
}
.pp{
    text-align: justify;
}
.xp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box-shadow{
    width: 40%;
    padding-right: 5%;
    padding-left: 5%;
    width: 450px;
    height: 350px;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 7px 7px 40px grey;
}
#xp-web{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(214, 183, 7), yellow);
    border-image-slice: 1;
}
#xd-wed{
    border-right: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 2;
}
footer p {
    text-align: center;
}